<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>353376391512-tp89je3s8r1jru16dcsl0m9b77v1927a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353376391512-tp89je3s8r1jru16dcsl0m9b77v1927a</string>
	<key>API_KEY</key>
	<string>AIzaSyCRMghEUd-P9C9206gODIzYqaAdc7ltH_A</string>
	<key>GCM_SENDER_ID</key>
	<string>353376391512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justcode.emergancyBtn</string>
	<key>PROJECT_ID</key>
	<string>keuemergancy</string>
	<key>STORAGE_BUCKET</key>
	<string>keuemergancy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353376391512:ios:49455c456d70d335</string>
	<key>DATABASE_URL</key>
	<string>https://keuemergancy.firebaseio.com</string>
</dict>
</plist>